<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>page-not-found</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
          }
        }
        //
        // showData(data) {
        //  console.log("showData");
        //  console.log(data.detail.__data.response);
        // //this soy yo
        //  this.first_name = data.detail.__data.response.first_name;
        //  this.last_name = data.detail.__data.response.last_name;
        //  this.email = data.detail.__data.response.email;
        //  }

      }




    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
