<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-5"> Logout usuario </h1>
    </div>



    <input type="id" placeholder="Text" value="{{id::input}}"></input>
    <button class="btn-warning" on-click="logout">Logout</button>
    <!-- <span hidden$="{{!isLogged}}">¡Esperamos verle pronto de nuevo!</span> -->
    <!-- <span >¡Esperamos verle pronto de nuevo!</span> -->


    <iron-ajax
     id="doLogout"
     url="http://localhost:3000/lowcostbank/v1/logout/{{id}}"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageLogoutResponse"
     on-error="manageLogoutErrorResponse" />





  </template>

  <script>

        class LogoutUsuario extends Polymer.Element {
          static get is() { return 'logout-usuario'; }
          static get properties() {
            return {
              id: {
                type: String
              }
            };
          }
          logout() {
            console.log("Se ha pulsado el boton");

            var logoutData = {
              "userId" : this.id
            };
            this.$.doLogout.body = JSON.stringify(logoutData);
            this.$.doLogout.headers.userId = this.id;
            console.log(this.id);
            console.log(this.$.doLogout.headers.userId);
            this.$.doLogout.generateRequest();
            console.log("logout enviado con exito");
          }
          manageLogoutResponse(data) {
            console.log("Recibida respuesta");
            console.log(data.detail.response);
          }
          manageLogoutErrorResponse(error) {
            console.log("Error recibido");
            console.log(error);
          }
        };


        // showData(data){
        //  console.log("showData");
        //  console.log(data.detail.__data.response);
        // //this soy yo
        //  this.first_name = data.detail.__data.response.first_name;
        //  this.last_name = data.detail.__data.response.last_name;
        //  this.email = data.detail.__data.response.email;
        //  }






    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
