<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador-front-proyecto-app">
  <template>
    <style>
      :host {
        display: block;
        border: solid blue,
      }
      .redbg{
        background-color: red;
      }
      .greenbg{
        background-color: green;
      }
      .bluebg{
        background-color: blue;
      }
      .greybg{
        background-color: grey;
      }
    </style>
<!-- estilo de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y tengo [[age]] años </h3>
    <input type="text" value="[[first_name::input]]"/>
    <input type="range" min="18" value="{{age::input}}" max="99" />

<div class="row greybg">
  <div class="col-2 offset-3 redbg">Col red</div>
  <div class="col-1 offset-1 greenbg">Col green</div>
  <div class="col-1 offset-1 bluebg">Col blue</div>
</div> -->

<button class="btn">Login</button>
<button class="btn">Logout</button>

<button class="btn btn-primary">Login</button>
<button class="btn btn-secondary">Login</button>
<button class="btn btn-success">Login</button>
<button class="btn btn-info">Login</button>
<button class="btn btn-danger">Login</button>
<button class="btn btn-warning">Login</button>
<button class="btn btn-light">Login</button>
<button class="btn btn-dark">Login</button>





  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorFrontProyectoApp extends Polymer.Element {
      static get is() { return 'borrador-front-proyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: "Vanesa"
          },last_name: {
            type: String,
            value: "Chaparro"
          },age: {
            type: Number,
            value: 23
          }
        };
      }
    }

    window.customElements.define(BorradorFrontProyectoApp.is, BorradorFrontProyectoApp);
  </script>
</dom-module>
