<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--
<link rel="import" href="/bower_components/cells-st-link/cells-st-link.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="/bower_components/cells-banking-theme/cells-banking-theme.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html"> -->

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>





    <input placeholder="email" type="email" name="email"  placeholder="escribe tu email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" name="password" value="{{password::input}}"></input>



    <button on-click="do_login">Login</button>
    <button on-click="new_user">Nuevo usuario</button>
    <button on-click="cancel_login">Cancelar</button>

    <span hidden$="{{!islogged}}">¡Bienvenido de nuevo! [[first_name]] [[last_name]] </span>

    <iron-ajax
     id="doLogin"
     url="http://localhost:3000/lowcostbank/v1/login"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageLoginResponse"
     on-error="manageErrorResponse"
     />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
      // function load() {
      //        console.log("entro en la funcion de cargar la ventana!");
      //        var email = window.sessionStorage.getItem('email');
      //        console.log("El id que recupero es " + email);
      //          //       }
      //    window.onload = 'getAccounts';



    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          userId: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          islogged: {
            type: Boolean,
            value: false
          },
          loading: {
            type: Boolean,
            value: false
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          }

          };
          }
          do_login(){
            console.log("voy a enviar la peticion de login")
            // window.alert("Has dado al click");
            // var loginData = {
            //   "email" : this.email,
            //   "password" : this.password
            // };
            //


            var loginData = {
              "email" : "lola@garcia.com",
              "password" : "12345678"
            };
            //ahora hago la peticion en si
            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
            console.log("this.$.doLogin.body" + this.$.doLogin.body);
            this.loading = true;
          }


          manageLoginResponse(data){
          console.log("Llegaron los resultados a la API");
          console.log("Recibida respuesta  nombre   " + data.detail.response.first_name);
          console.log("Recibida respuesta id  " + data.detail.response.userId);
          //console.log("Recibida respuesta  " + data.detail.response);
            this.islogged = true;
            this.first_name = data.detail.response.first_name;
            this.last_name =data.detail.response.last_name;
            //hacemos una redireccion, con lo que me devuelve la API, id
            //window.location = "user/" + data.detail.response.idUsuario;
            window.sessionStorage.setItem('userId', data.detail.response.userId );
            window.sessionStorage.setItem('first_name', data.detail.response.first_name );
            window.sessionStorage.setItem('last_name', data.detail.response.last_name );
            this.err_message = "El login se ha realizado correctamente ";
            //this.user_id = data.detail.response._id;
            //this.id = data.detail.response.id;
            //this.$.successbox.open() instalar bootstrap
            this.loading = false;
            //   window.location = "account";
            // window.location = "account/" + data.detail.response.idUsuario;
            // console.log("vamos a lanzar el evento eventlogged");
            // this.dispatchEvent(new CustomEvent("eventlogged", {"detail": {"userId": data.detail.response.userId}}))



          }



          manageErrorResponse(error) {
            // Si el usuario ya está logado
            console.log("Error recibido");
            //window.alert("Error de usuario, inténdelo de nuevo");
            console.log("Valor de la respuesta  " + error.detail.request.xhr.response);
            console.log("Estado/código del error  " + error.detail.request.xhr.status);

            // if (error.detail.request.xhr.response.code == "userAlreadyLogged") {
            //   this.islogged = true;
            //   this.err_message = "Ya existe una sesión abierta. Si quieres continuar selecciona la opción 'forzar' ";
            //
            //   this.$.alertbox.type = 'info';
            //   this.$.alertbox.content = this.err_message;
            //   this.$.alertbox.open()
            // } else {
            //   this.err_message = error.detail.request.xhr.response.err;
            //
            //   this.$.alertbox.type = 'error';
            //   this.$.alertbox.content = this.err_message;
            //   this.$.alertbox.open()
            // }

            this.loading = false;
            this.islogged = false;
            console.log("lanzamos el evento eventloggederror");
          //  this.dispatchEvent(new CustomEvent("eventloggederror", {"detail":{}}))


          }

          cancel_login(e) {
            console.log('se ha cancelado el login')
            this.loading = false;
            this.islogged = true;
            // this.islogged = false;
          //  window.close()
          console.log("Se ha pulsado el boton cancelar");
          console.log(e);
          this.dispatchEvent(new CustomEvent("eventlogged", {"detail": {"userId": 1}}))

          }
          new_user() {
            this.islogged = false;
            console.log('se ha pulsado nuevo usuario')
            window.location = '/newuser'
            //this.dispatchEvent(new CustomEvent("eventnewuser", {"detail":{}}))


          }

          // _continuar(){
          //   console.log("continuar");
          //   window.location = "/user/"+this.user_id
          // }
        }


        // showData(data){
        //  console.log("showData");
        //  console.log(data.detail.__data.response);
        // //this soy yo
        //  this.first_name = data.detail.__data.response.first_name;
        //  this.last_name = data.detail.__data.response.last_name;
        //  this.email = data.detail.__data.response.email;
        //  }






    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
