<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input placeholder="email" type="email" name="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" name="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>

    <iron-ajax
     id="doLogin"
     url="http://localhost:3000/apitechu/v2/login"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"
     />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          // first_name: {
          //   type: String
          // },last_name: {
          //   type: String
          // },age: {
          //   type: Number
          // },email: {
          //     type: String
          // },id: {
          //     type: Number
          //   }
          password: {
             type: String
           }, email: {
              type: String
            }

            };
          }
          login(){
            console.log("el usuario ha pulsado el boton")
            //fuera del properties pero dentro de la funcion class
            console.log("voy a enviar la peticion")

            var loginData = {
              "email" : this.email,
              "password" : this.password
            };
            //ahora hago la peticion en si
            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
            console.log("Peticion enviada")

          }

          manageAJAXResponse(data){
            console.log("Llegaron los resultados a la API");
            console.log(data.detail.response);
          }

          showError(error){
            console.log("Ha habido un error");
            console.log(error);
          }
        }


        // showData(data){
        //  console.log("showData");
        //  console.log(data.detail.__data.response);
        // //this soy yo
        //  this.first_name = data.detail.__data.response.first_name;
        //  this.last_name = data.detail.__data.response.last_name;
        //  this.email = data.detail.__data.response.email;
        //  }






    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
