<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="new-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input placeholder="first_name" name="first_name" value="{{userdata.first_name::input}}"></input>
    <input placeholder="last_name" name="last_name" value="{{userdata.last_name::input}}"></input>
    <input placeholder="email" type="email" name="email" value="{{userdata.email::input}}"></input>
    <input placeholder="password" type="password" name="password" value="{{userdata.password::input}}"></input>
    <!-- <input placeholder="password" type="password" name="passwordRepeat" value="{{passwordRepeat::input}}"></input> -->


    <button on-click="_clickNewuser">Guardar</button>
    <button on-click="clickCancel">Cancelar</button>
    <span hidden$="{{!isLogged}}">¡Bienvenido a new user!</span>

    <!-- <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y mi mail [[email]]  </h3> -->

    <iron-ajax
     id="doNewUser"
     url="http://localhost:3000/lowcostbank/v1/users/"
     method = "POST"
     handle-a = "json"
     content-type = "application/json"
     on-response = "manageSaveResponse"
     on-error = "manageSaveErrorResponse">


  </template>

  <script>
    /**
     * @customc
     * @polymer
     */
    class NewUser extends Polymer.Element {
      static get is() { return 'new-user'; }
      static get properties() {
        return {
          userId: {
            type: String,
            value: ""
          },
          userdata: {
            type: Object,
            value: {}
          },
          first_name: {
            type: String,
            value: ""
          },
          last_name: {
            type: String
          },
          // olduser: {
          //   type: Object,
          //   value: {}
          // },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      isLogged() {
        console.log("isLogged " + (this.userId !== ""));
        return (this.userId !== "");
      }

      _clickNewuser() {
        console.log("click en guardar nuevo usuario");
        this.loading = true;
        console.log("el nombre introducidos es:  " + this.userdata.first_name);
        console.log("el apellido introducidos es:  " + this.userdata.last_name);
        console.log(JSON.stringify(this.userdata));

        //TODO validar los input

        var newuserData = JSON.parse(JSON.stringify(this.userdata));
        console.log(newuserData);
        // if (newuserData.password !== newuserData.repeated) {
        //   console.log('Error, los campos de contraseña no son iguales');
        //   //TODO Mostrar mensaje de error
        //   this.err_message = "Error, las contraseñas no son iguales ";
        //
        //   this.$.alertbox.type = 'error';
        //   this.$.alertbox.content = this.err_message;
        //   this.$.alertbox.open()
        //   return;
        //
        // } else {
        //   delete newuserData.repeated;
        // }
        console.log("this.userId es  " + this.userId );
        console.log("this.userdata.userId es  " + this.userdata.userId );

        if (this.userId == "") {
          this.$.doNewUser.body = JSON.stringify(newuserData);
          this.$.doNewUser.generateRequest();
          console.log("El id no está vacio y guardamos el usuario nuevo");



        // } else {
        //   //eliminamos el id y el correo (ya que son datos no editables)
        //   delete newuserData.email;
        //   delete newuserData._id;
        //   this.$.doUpdateUser.body = JSON.stringify(newuserData);
        //   this.$.doUpdateUser.generateRequest();
        //   console.log("Peticion update enviada");

        }

      }
      // _continuar(){
      //   console.log("modificación realizada");
      //   window.location = "/user/"+this.userid
      // }



      clickCancel() {
        console.log("Cancelamos el alta");
        //this.userdata = JSON.parse(JSON.stringify(this.olduser));
        window.location = '/login';
      }

      // manageLoadResponse(data){
      //   console.log('manageLoadResponse');
      //   // Mostrar mensaje de error
      //   console.log(JSON.stringify(data.detail.response));
      //   if (this.id == "") {
      //     this.userdata = data.detail.response._id;
      //   }
      //   var newuserData = JSON.parse(JSON.stringify(data.detail.response));
      //   newuserData.repeated = data.detail.response.password;
      //   this.userdata = newuserData;
      //   this.olduser = newuserData;
      //
      //   this.loading = false
      //
      // };

      // manageLoadErrorResponse(err){
      //   console.log('manageLoadErrorResponse');
      //   console.log(err);
      //   // Mostrar mensaje de error y cerrar la ventana.
      //   var testAlert = 'Se ha producido un error: ' + err.message;
      //   this.err_message = testAlert;
      //
      //   this.$.alertbox.type = 'error';
      //   this.$.alertbox.content = this.err_message;
      //   this.$.alertbox.open()
      //
      //   this.loading = false
      // }

      manageSaveResponse(data){
        console.log('manageSaveResponse');
        console.log("Recibida respuesta el id  " + data.detail.response.userId);

        // if (this.userid == ""){
        //   // TODO Mostrar un mensaje de envio de email para validar
        //
        //   this.err_message = "Se ha mandado un mail a su dirección de correo para validar, pulse una tecla para continuar";
        //
        //   this.$.alertboxcheck.type = 'success';
        //   this.$.alertboxcheck.content = this.err_message;
        //   this.$.alertboxcheck.open()
        //   // Volver a la página de login

        //window.location = '/login';

        // } else {
        //   //TODO Mostrar un mensaje de que la información se ha guardado correctamente
          this.err_message = "Alta realizada correctamente ";
          window.sessionStorage.setItem('userId', data.detail.response.userId );
          window.sessionStorage.setItem('first_name', data.detail.response.first_name );
          window.sessionStorage.setItem('last_name', data.detail.response.last_name );
          window.sessionStorage.setItem('email', data.detail.response.email);
          //window.sessionStorage.setItem('pasword', data.detail.response.password);
          //   // Volver a la página de login
          window.location = '/login';
          // this.$.alertboxcheck.type = 'success';
          // this.$.alertboxcheck.content = this.err_message;
          // this.$.alertboxcheck.open()

        // }

        this.loading = false
      };

      manageSaveErrorResponse(err){
        console.log('manageSaveErrorResponse');
        console.log(err);
        // TODO Mostrar mensaje de error y cerrar la ventana.

        this.err_message = "Error al dar de alta el usuario ";

        // this.$.alertbox.type = 'error';
        // this.$.alertbox.content = this.err_message;
        // this.$.alertbox.open()

        this.loading = false
      }

      // getTokenFromCache() {
      //   console.log('getTokenFromCache');
      //   var auth_token = window.sessionStorage.getItem('auth_token');
      //   var header = {'auth_token': auth_token};
      //   return header;
      // }
    }




    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
