<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html"> -->
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/new-user/new-user">
<link rel="import" href="/src/page-not-found/page-not-found">

<!-- <link rel="import" href="/src/contrato-ko/contrato-ko.html">
<link rel="import" href="/src/confirmar-cancelar/confirmar-cancelar.html">
<link rel="import" href="/src/mvtos-ko/mvtos-ko.html">
<link rel="import" href="/src/registro-usuario/registro-usuario.html">
<link rel="import" href="/src/alta-ok/alta-ok.html">
<link rel="import" href="/src/error-logado/error-logado.html"> -->

<dom-module id="director-padre">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el  gestor del evento, el padre</h1>

    <visor-cuentas hidden$={{!iscontrato}}
 id="vsc"
 on-contratoconsultado="procesarcontrato" ></visor-cuentas>


     <visor-movimientos hidden$={{!ismovimiento}}
 id="mov"></visor-movimientos>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DirectorPadre extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
         islogged:{
            type: Boolean,
            value:false
          },
          isloginko:{
            type: Boolean,
            value: false
          },
          idcliente:{
            type: String
          },
          isaccount:{
            type: Boolean,
            value:false
          },
          ismovement:{
            type: Boolean,
            value:false
          },
          issignup:{
            type: Boolean,
            value:false
          },
          isnewuserok:{
            type: Boolean,
            value:false
          },
          islogoutdisplay:{
            type: Boolean,
            value:false
          },
          isaccountko:{
            type: Boolean,
            value:false
          },
          ismovementko:{
            type: Boolean,
            value:false
          },
          isdeleteaccount:{
            type: Boolean,
            value:false
          }
        };
      }

// processEvent(e){
//     console.log("Capturando evento del emisor");
//     console.log(e);
//     console.log(e.detail);
//
//     this.$.receiver.course=e.detail.course;
//     this.$.receiver.year=e.detail.year;
//         }


procesarcontrato(e){
       var iban = e.detail.iban
       console.log("estoy en el padre y el iban es :  " + iban);
       this.$.mov.getMovementsbyAccount(iban)
       this.ismovimiento = true
       this.iscontrato = false
       this.ismvtoko = false
     }


//
// logged(e){
//       console.log("Capturando evento logado");
//       console.log(e);
//       console.log("la respuesta de logged, e.detail, es:  " + e.detail);
//        //var userId =  e.detail.userId
//        //this.userId = userId
//        //this.$.visorcuentas.getAccounts(userId)
//        this.$.visorcuentas.getAccounts(userId)
//        this.islogged = true
//        this.isaccount = true
//        this.islogoutdisplay = true
//        this.isaccountko = false
//      }

    //  loggederror(){
    //    console.log("Capturando evento error");
    //    this.islogged = true
    //    this.isloginko = true
    //  }
     //
    //  newuser(e){
    //    console.log("Capturando evento newuser");
    //    console.log(e);
    //    this.issignup = true
    //    this.islogged = true
    //  }




      }


  window.customElements.define(DirectorPadre.is, DirectorPadre);
  </script>
</dom-module>
