<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<!-- <link rel="import" href="../../bower_components/cells-product-item-list/cells-product-item-list.html">

<link rel="import" href="../../bower_components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html"> -->

<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">


<dom-module id="visor-movimientos">
    <template>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <style>
    :host {
      display: block;
      background-color: #E8F0F7
    }

    .pull-right {
       float: right !important;
    }
  </style>

  <visor-cuentas hidden$={{!iscontrato}} id="vsc" on-contratoconsultado="procesarcontrato"></visor-cuentas>

  <!-- <visor-movimientos hidden$={{!ismovimiento}} id="mov"></visor-movimientos> -->



    <h2>Vamos a ver sus movimientos :)</h2>

<button on-click="getMovementsbyAccount">Ver movimientos</button>
<button on-click="postMovement">Alta de movimiento</button>


<h3>"iban": "ES010182201031192828"</h3>


      <table class="table table-striped">
         <thead>
           <th>Iban</th>
           <th>Cantidad</th>
           <th>Moneda</th>
           <th>Tipo de momvimiento</th>
           <th>Fecha</th>
           <th>Detalle</th>
         </thead>

             <template is="dom-repeat" items="{{accounts}}">
                <tr>
                  <td>[[item.iban]]</td>
                  <td>[[item.amount]]</td>
                  <td>[[item.currency]]</td>
                  <td>[[item.type]]</td>
                  <td>[[item.date]]</td>
                  <td>[[item.detail]]</td>
                  <td> <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="getMovement">Modificar movimiento</button></td>
                  <!-- <td> <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="volvercontratos">Detalle movimiento</button></td> -->
                </tr>
            </template>
      </table>
      <br>


      <h2>Este es el movimiento de la cuenta</h2>

        <h3>El IBAN de la cuenta es : [[item.iban]]</h3>
        <h3>El saldo de su cuenta es: [[item.balance]]</h3>
        <h3>La moneda de la cuenta es: [[item.currency]]</h3>
        <h3>El alias de la cuenta es: [[item.alias]]</h3>


        <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="putMovement">Modificar movimiento</button>
        <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="putMovement">Cancelar movimiento</button>




    <iron-ajax
     id="getMovementsbyAccount"
     url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
     handle-as="json"
     on-response = "manageMovementResponse"
     on-error = "manageMovementErrorResponse">
     <!-- on-iron-ajax-presend = "_antesAjaxRequest"> -->

     <iron-ajax
      id="postMovement"
      url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
      handle-as="json"
      on-response = "managePostMovementResponse"
      on-error = "managePostMovementErrorResponse">

      <iron-ajax
       id="putMovement"
       url="http://localhost:3000/lowcostbank/v1/movements/{{:id}}"
       handle-as="json"
       on-response = "managePutMovementResponse"
       on-error = "managePutMovementErrorResponse">


       <iron-ajax
        id="getMovement"
        url="http://localhost:3000/lowcostbank/v1/movements/{{:id}}"
        handle-as="json"
        on-response = "manageGetMovementResponse"
        on-error = "manageGetMovementErrorResponse">




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    //  function load() {
    //         console.log("entro en la funcion de cargar la ventana!");
    //         var userId = window.sessionStorage.getItem('userId');
    //         console.log("El id que recupero es " + userId);
    //           //       }
    //     window.onload = 'getAccounts';
    //

    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userId: {
              type: Number
          },iban: {
              type: Number
          },movements: {
              type: Array
          }
        };
        }

        procesarcontrato(e){
               var iban = e.detail.iban
               console.log("estoy en visor-movimientos y el iban es :  " + iban);
               this.$.mov.getMovementsbyAccount(iban)
               this.ismovimiento = true
               this.iscontrato = false
               this.ismvtoko = false
             }



        getMovementsbyAccount(iban){
          this.iban = iban
          console.log(iban);
          this.$.getMovementsbyAccount.generateRequest()
        }

        getMovement(){
          console.log("entramos en getMovement");
          var movementId = this.$.currentTarget.movementId
         //  var userId = this.userId
          console.log(movementeId);


          // var userId = window.sessionStorage.getItem('userId');
          // console.log("el valor de userId que viene del session Storage es  " + userId);
          // this.$.getAccounts.headers['userId'] = userId;
          // console.log("this.$.getAccounts.headers['userId'] es  " + this.$.getAccounts.headers['userId']);
          this.$.getMovement.generateRequest();
          // this.loading=true;
        }


        manageMovementResponse(data) {
         console.log("manageMovementResponse");
         console.log(data.detail.response[0]);
         this.accounts = data.detail.response;
         console.log("this.accounts " + this.accounts);
         this.accounts = JSON.parse(JSON.stringify(data.detail.response));
         console.log("this.accounts json " + this.accounts);
         this.loading = false;
        };


         manageMovementErrorResponse(err){
           console.log('manageMovementErrorResponse');
           console.log(err);
           // Mostrar mensaje de error y cerrar la ventana.
           this.loading = false;
         };

      //    _antesAjaxRequest(){
      //
      //      var userId = window.sessionStorage.getItem('userId');
      //      this.$.getAccounts.headers['userId'] = userId;
      //
      //      console.log("el valor de userId que viene del session Storage es  " + userId);
      //                console.log("this.$.getAccounts.headers['id'] es  " + this.$.getAccounts.headers['userId']);
      //
      // }
    }




    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
