<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="users-page">

  <template>
    <style is="custom-style">
    </style>

    <cells-template-paper-drawer-panel mode="seamed">

      <div slot="app__main">
        [[users.length]];

        <template is= "dom-repeat" items=[[users]]>
          <p>
            [[item.name]] -   [[item.email]]
          </p>

        </template>


        <button on-click="_navegateHome"> Volver a home </button>

<cells-generic-dp
  id="usersDP"
  host="https://jsonplaceholder.typicode.com"
  path="users"
  on-request-success="_handleRequestSuccess">
</cells-generic-dp>

      </div>
    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class UsersPage extends CellsPage {
        static get is() {
          return 'users-page';
        }

        static get properties() {
          return {
            users: {
              type: Array,
              value: []
            }
          };
        }

        onPageEnter() {
          this.$.usersDP.generateRequest();
        }

        onPageLeave() {
          console.log('Page unloaded');
        }

        _handleRequestSuccess(evt){
          const detail =evt.detail;
          const users=[];

          delete detail.headers;

          detail.forEach(function(user){
            const normalizedUser = {
              id: user.id,
              name: user.name,
              username: user.username,
              email: user.email
            };
            users.push(normalizedUser);

          });

          this.set('users',users);
          this.publish('ch_users', users);
        }

        _navegateHome(){
          this.navigate('home');
        }


        _handleClick() {
          this.publish('from-channel', {from: 'home'});
          this.navigate('another', {title: 'This is another page'});
        }
      }

      window.customElements.define(UsersPage.is, UsersPage);
    };
  </script>
</dom-module>
