<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y mi mail [[email]]  </h3>

    <iron-ajax auto
     id="getUser"
     url="http://localhost:3000/lowcostbank/v1/users/{{id}}"
     handle-as="json"
     on-response="showData"
     >
  <button on-click="accounts">Consultar mis cuentas</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },last_name: {
            type: String
          },email: {
              type: String
          },id: {
              type: Number
            }
          }
        };

        showData(data) {
         console.log("showData");
         console.log(data.detail.response);
        //this soy yo
         this.first_name = data.detail.response.first_name;
         this.last_name = data.detail.response.last_name;
         this.email = data.detail.response.email;
         }





      }




    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
