<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

  <dom-module id="visor-cuentas">

    <template>

    <style>
      :host {
        display: block;
      }
    </style>

      <div> Lista de cuentas: </div>
      <template is="dom-repeat" items="{{cuentas}}">
          <div>Su cuenta es : <span>{{item.cuentaId}}</span></div>
          <div>El IBAN de la cuenta es : <span>{{item.iban}}</span></div>
          <div>Su usuario es: <span>{{item.userId}}</span></div>
          <div>El balance de su cuenta es:: <span>{{item.balance}}</span></div>

          <iron-ajax auto
           id="getAccount"
           url="http://localhost:3000/apitechu/v2/account/{{id}}"
           handle-as="json"
           on-response="showData"
           >

      </template>

    </template>


  <script>

        // showData(data) {
        //  console.log("showData");
        //  console.log(data.detail.response);
        //
        //  this.cuentaId = data.detail.response[0].cuentaId;
        //  this.iban = data.detail.response[0].iban;
        //  this.balance = data.detail.response[0].balance;
        //  this.userId = data.detail.response[0].userId;
        //  }





      class VisorCuentas extends Polymer.Element {
        static get is() { return 'visor-cuentas'; }
        static get properties() {
          return {
            cuentas: {
              value() {
                return {
                  cuentaId: {
                    type: Number
                  },iban: {
                    type: Number
                  },balance: {
                    type: Number
                  },userId: {
                      type: Number
                  }
                  }
                }
              }
            }
          };
        }


    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
