<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<!-- <link rel="import" href="../../bower_components/cells-product-item-list/cells-product-item-list.html">

<link rel="import" href="../../bower_components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html"> -->


<dom-module id="visor-cuentas">
    <template>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <style>
    :host {
      display: block;
      background-color: #E8F0F7
    }

    .pull-right {
       float: right !important;
    }
  </style>




    <h2>Vamos a ver sus cuentas :)</h2>
    <!-- <template is="dom-repeat" items="{{accounts}}"> -->
      <!-- <h3>El IBAN de la cuenta es : [[item.iban]]</h3>
      <h3>El saldo de su cuenta es: [[item.balance]]</h3>
      <h3>La moneda de la cuenta es: [[item.currency]]</h3>
      <h3>El alias de la cuenta es: [[item.alias]]</h3> -->


<button on-click="getAccounts">Ver cuentas</button>


      <table class="table table-striped">
         <thead>
           <th>Iban</th>
           <th>Saldo</th>
           <th>Moneda</th>
           <th>Alias de la cuenta</th>
           <th>Operaciones sobre la cuenta</th>
         </thead>

             <template is="dom-repeat" items="{{accounts}}">
                <tr>
                  <td>[[item.iban]]</td>
                  <td>[[item.balance]]</td>
                  <td>[[item.currency]]</td>
                  <td>[[item.alias]]</td>
                  <td><button class="btn btn-info" on-click="consultarMovimientos" iban={{item.iban}}>Movimientos</button></td>
                  <td><button class ="btn btn-primary" on-click="confirmarCancelar" iban={{item.iban}}>Cancelar contrato</button></td>
                </tr>
            </template>
      </table>
      <br>

    <!-- </template> -->

    <!--      url="http://localhost:3000/lowcostbank/v1/users/{{id}}/accounts"
 -->


    <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/lowcostbank/v1/users/1/accounts"
     handle-as="json"
     on-response = "manageAccountResponse"
     on-error = "manageAccountErrorResponse">
     <!-- on-iron-ajax-presend = "_antesAjaxRequest"> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    //  function load() {
    //         console.log("entro en la funcion de cargar la ventana!");
    //         var userId = window.sessionStorage.getItem('userId');
    //         console.log("El id que recupero es " + userId);
    //           //       }
    //     window.onload = 'getAccounts';
    //

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userId: {
              type: Number
          },accounts: {
              type: Array
          }
        };
        }

        getAccounts(){
          console.log("entramos en getAccounts");

          // var userId = window.sessionStorage.getItem('userId');
          // console.log("el valor de userId que viene del session Storage es  " + userId);
          // this.$.getAccounts.headers['userId'] = userId;
          // console.log("this.$.getAccounts.headers['userId'] es  " + this.$.getAccounts.headers['userId']);
          this.$.getAccounts.generateRequest();
          // this.loading=true;



        }

        manageAccountResponse(data) {
         console.log("manageAccountResponse");
         console.log(data.detail.response[0]);
         this.accounts = data.detail.response;
         console.log("this.accounts " + this.accounts);
         this.accounts = JSON.parse(JSON.stringify(data.detail.response));
         console.log("this.accounts json " + this.accounts);
         this.loading = false;
        };


         manageAccountErrorResponse(err){
           console.log('manageAccountErrorResponse');
           console.log(err);
           // Mostrar mensaje de error y cerrar la ventana.
           this.loading = false;
         };

         consultarMovimientos(e){
           var iban = e.currentTarget.iban
          //  var userId = this.userId
           console.log("estoy en visor cuentas y el iban es " + iban);
           this.dispatchEvent(new CustomEvent("contratoconsultado", {"detail":{"iban":iban}}))
           window.location = "movements";
         }

      //    _antesAjaxRequest(){
      //
      //      var userId = window.sessionStorage.getItem('userId');
      //      this.$.getAccounts.headers['userId'] = userId;
      //
      //      console.log("el valor de userId que viene del session Storage es  " + userId);
      //                console.log("this.$.getAccounts.headers['id'] es  " + this.$.getAccounts.headers['userId']);
      //
      // }

//cuando pincho en movimientos


}




    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
