<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Vamos a ver sus cuentas :)</h2>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>El IBAN de la cuenta es : [[item.iban]]</h3>
      <h3>El saldo de su cuenta es: [[item.balance]]</h3>
      <h3>La moneda de la cuenta es: [[item.currency]]</h3>
      <h3>El alias de la cuenta es: [[item.alias]]</h3>

    </template>

    <iron-ajax auto
     id="getAccounts"
     url="http://localhost:3000/lowcostbank/v1/users/{{id}}/accounts"
     handle-as="json"
     on-response="showData"
     >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userId: {
              type: Number
          },accounts: {
              type: Array
          }
        };
        }

        showData(data) {
         console.log("showData");
         console.log(data.detail.response[0]);
         this.accounts = data.detail.response;

         }
      }




    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
